.button-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: $accent-cl;
}

.link--active--bg {

    &:hover,
    &:active,
    &:focus {
        background-color: $accent-cl;
    }
}
