// Font family
$main-font: Roboto, sans-serif;
$minor-font: Raleway, sans-serif;
// text colors
$accent-cl: #2196f3;
$main-txt-cl: #757575;
$secondary-txt-cl: #212121;
// bacground colors
$main-bg-cl: #ffffff;
$secondary-bg-cl: #f5f4fa;
$dark-bg-cl: #2f303a;