.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg-cl);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/desktop/bg-img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 600px;
  color: #fff;
  margin: 0 auto;

  // For desktop background image

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/desktop/bg-img-hero@2x.jpg");
  }

  // For tablet background image

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/tablet/bg-img-hero.jpg");

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/tablet/bg-img-hero@2x.jpg");
    }
  }

  // For mobail background image

  @include mq(mobile-only) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/mobile/bg-img-hero.jpg");

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/mobile/bg-img-hero@2x.jpg");
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

    @include mq(desktop){
        font-size: 44px;
    }
   
}

.hero__btn {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  background-color: $accent-cl;
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: currentColor;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
